# Игнорируем ключи и конфиденциальные данные
.env

# Python кэш и виртуальные окружения
__pycache__/
*.pyc
venv/

# Логи и временные файлы
logs/
*.log
nohup.out

# Служебные файлы редакторов
.DS_Store
*.swp

# Аудио-записи и временные медиафайлы
*.m4a
*.webm
*.wav
